#light .bot{
    height: 54.9%;
    width: 20.5%;
    border: 1px solid gold;
    padding: 1%;
    position: absolute;
    margin-left: 78.5%;
    margin-top: 16%;
    background-color: ghostwhite;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#dark .bot{
    height: 54.9%;
    width: 20.5%;
    border: 1px solid darkgoldenrod;
    padding: 1%;
    position: absolute;
    margin-left: 78.5%;
    margin-top: 16%;
    background-color: #1F1F1E;
    color: whitesmoke;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}