.bot{
    height: 54.9%;
    width: 20.5%;
    border: 2px solid goldenrod;
    padding: 1%;
    position: absolute;
    margin-left: 78.5%;
    margin-top: 16%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}