.main{
    position: absolute;
    margin: 3% 17%;
    width: 60%;
}
.main{
    margin-left: 17.5%;
    position: absolute;
    flex: 1 1 auto;
    margin-top: 12%;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(lightgrey,dimgrey);
    border-radius: 10px;
    border: 2px solid goldenrod;
}
.child_element{
    height: 470px;
    width: 100%;
    overflow: auto;
    border: 1px solid gold;
    padding: 1.5%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.copyright{
    background: transparent;
    position: absolute;
    margin-top: 43.7%;
    margin-left: 41.5%;
    font-size: 12px;
    font-weight: 550;
}