#light .crypto_tracker{
    height: 18%;
    width: 60%;
    border: 1px solid gold;
    padding: 1%;
    position: absolute;
    margin-left: 17.5%;
    margin-top: 2.5%;
    background-color: ghostwhite;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#dark .crypto_tracker{
    height: 18%;
    width: 60%;
    border: 1px solid darkgoldenrod;
    padding: 1%;
    position: absolute;
    margin-left: 17.5%;
    margin-top: 2.5%;
    background-color: #1F1F1E;
    color: whitesmoke;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}